{% include "header.html" %}

        {% include "sidebar.html" %}

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>All Departments</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                            <li class="breadcrumb-item active"><a href="{{ url_for('departments') }}">Departments</a></li>
                            <li class="breadcrumb-item active"><a href="{{ url_for('departments') }}">All Departments</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">

					<div class="col-lg-12">
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade active show col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">All Departments</h4>
										<a href="{{ url_for('add_department') }}" class="btn btn-primary">+ Add new</a>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example3" class="display table" style="min-width: 100%">
												<thead>
													<tr>

														<th class="p-0">Department</th>
														<th class="d-none d-md-table-cell p-0">Head Of Dept.</th>
														<th class="d-none d-md-table-cell p-0">Mobile</th>
														<th class="p-0">Email</th>


														<th class="p-0">Action</th>
													</tr>
												</thead>
												<tbody>
                                                    {% for department in all_departments %}
													<tr>

														<td class="p-0 py-2">{{ department.department_name }}</td>
														<td class="p-0 py-2 d-none d-md-table-cell">{{ department.department_head }}</td>


														<td class="p-0 py-2 d-none d-md-table-cell"><a href="javascript:void(0);"><strong>{{ department.mobile_number }}</strong></a></td>
														<td class="p-0 py-2"><a href="javascript:void(0);"><strong>{{ department.email }}</strong></a></td>

														<td class="p-0 py-2">
															<a href="{{ url_for('edit_department', department_id=department.id) }}" class="btn btn-sm btn-primary"><i class="la la-pencil" ></i></a>
															<a href="{{ url_for('delete_department', department_id=department.id) }}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
                                                    {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                            </div>

						</div>
					</div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        {% include "footer.html" %}