        {% include "header.html" %}

        {% include "sidebar.html" %}

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				
				<div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Events</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Events</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Events Management</a></li>
                        </ol>
                    </div>
                </div>
				
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div id="calendar-events" class="app-fullcalendar"></div>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-intro-title">Events</h4>

                                <div class="">
                                    <div id="external-events" class="my-3">

                                        {% for event in events[::-1][:9] %}
                                        <div class="external-event" data-class="bg-success"><i class="fa fa-move"></i>{{ event.event_name }}
                                        </div>
                                        {% endfor %}



                                    </div>
                                    <!-- checkbox -->


                                    <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#add-category" class="btn btn-primary btn-event w-100">
                                        <span class="align-middle"><i class="ti-plus"></i></span> Create New
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN MODAL -->
                    <div class="modal fade none-border" id="event-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add New Event</strong></h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                                        event</button>

                                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-bs-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Add Category -->
                    <div class="modal fade none-border" id="add-category">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="{{ url_for('event_management') }}" method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add an Event</strong></h4>
                                </div>
                                <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Event Name</label>
                                                <input class="form-control form-white" placeholder="Event name" type="text" name="event_name">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Event Date</label>
                                                <input class="form-control form-white"  type="date" name="event_date">
                                            </div>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-bs-dismiss="modal">Close</button>
                                    <button href="{{ url_for('event_management') }}" type="submit" class="btn btn-success waves-effect waves-light save-category" data-bs-dismiss="modal">Save</button>
                                </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Halal Solutions</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../static/vendor/global/global.min.js"></script>
	<script src="../static/js/deznav-init.js"></script>
	<script src="../static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <!--removeIf(production)-->

	<!-- Svganimation scripts -->
    <script src="../static/vendor/svganimation/vivus.min.js"></script>
    <script src="../static/vendor/svganimation/svg.animation.js"></script>

    <script src="../static/vendor/jqueryui/js/jquery-ui.min.js"></script>
    <script src="../static/vendor/moment/moment.min.js"></script>

    <script src="../static/vendor/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="../static/js/plugins-init/fullcalendar-init.js"></script>
       <script>
    $(document).ready(function() {
        $('#calendar-events').fullCalendar({
            events: '/get_events',
            // other options...
            eventRender: function(event, element) {
                element.attr('title', event.description);
            }
        });
    });
</script>

</body>
</html>